only-the-truth-n8n-workflow.json
{
  "name": "Only the Truth - Instagram & Bias Search Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "analyze-reel",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        240
      ],
      "id": "webhook-trigger",
      "name": "Webhook Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/haas~instagram-downloader/runs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node[\"Webhook Trigger\"].json.headers[\"x-apify-token\"] || \"YOUR_APIFY_TOKEN\" }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"directUrls\": [ \"{{ $json.body.instagramUrl }}\" ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        240
      ],
      "id": "apify-trigger",
      "name": "Trigger Apify Scraper"
    },
    {
      "parameters": {
        "amount": 8,
        "unit": "seconds"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        440,
        240
      ],
      "id": "wait-node",
      "name": "Wait for Scrape"
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/acts/haas~instagram-downloader/runs/{{ $node[\"Trigger Apify Scraper\"].json.data.id }}?token={{ $node[\"Webhook Trigger\"].json.headers[\"x-apify-token\"] || \"YOUR_APIFY_TOKEN\" }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        240
      ],
      "id": "apify-check-status",
      "name": "Check Scraper Status"
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/datasets/{{ $node[\"Check Scraper Status\"].json.data.defaultDatasetId }}/items?token={{ $node[\"Webhook Trigger\"].json.headers[\"x-apify-token\"] || \"YOUR_APIFY_TOKEN\" }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        240
      ],
      "id": "apify-get-dataset",
      "name": "Get Download Link"
    },
    {
      "parameters": {
        "url": "={{ $json[0].videoUrl }}",
        "responseFormat": "file",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        240
      ],
      "id": "download-video",
      "name": "Download Video Bin"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/transcriptions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node[\"Webhook Trigger\"].json.headers[\"x-openai-key\"] || \"YOUR_OPENAI_KEY\" }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyFormat": "form-data",
        "formDataParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "whisper-1"
            },
            {
              "name": "file",
              "parameterType": "formBinaryData",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        240
      ],
      "id": "openai-whisper",
      "name": "OpenAI Whisper API"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"api_key\": \"{{ $node[\"Webhook Trigger\"].json.headers[\"x-tavily-key\"] || \"YOUR_TAVILY_KEY\" }}\",\n  \"query\": \"{{ $node[\"OpenAI Whisper API\"].json.text.substring(0, 100) }} India news\",\n  \"search_depth\": \"advanced\",\n  \"max_results\": 15\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        240
      ],
      "id": "tavily-search",
      "name": "Tavily Search API"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1760,
        240
      ],
      "id": "respond-to-webhook",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Trigger Apify Scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Apify Scraper": {
      "main": [
        [
          {
            "node": "Wait for Scrape",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Scrape": {
      "main": [
        [
          {
            "node": "Check Scraper Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Scraper Status": {
      "main": [
        [
          {
            "node": "Get Download Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Download Link": {
      "main": [
        [
          {
            "node": "Download Video Bin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video Bin": {
      "main": [
        [
          {
            "node": "OpenAI Whisper API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Whisper API": {
      "main": [
        [
          {
            "node": "Tavily Search API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tavily Search API": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
